
element.style {
}

html {
    display: block;
}

script {
    display: none;
}

body {
    text-align: center;
    background: url(http://pre13.deviantart.net/018c/th/pre/f/2014/041/3/0/atlanta_skyline_by_hcitron-d724wwf.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
